<table width="100%">
  <tr>
    <th>Data</th>
    <th>Tempo</th>
    <th>Projeto</th>
    <th>Tarefa</th>
  </tr>
  <% @time_logs.each do |tl| %>
    <tr>
      <td><%= tl.task_date %></td>
      <td><%= tl.worked_hours %></td>
      <td><%= tl.task_type.project.name %></td>
      <td><%= tl.task_type.name %></td>
      <td><%= link_to_remote "Editar", :url => formatted_edit_user_time_log_path(@current_user,tl, :js), :method => :get %></td>
      <td><%= link_to_remote "Remover", :url => formatted_user_time_log_path(@current_user,tl, :js), :method => :delete %></td>
    </tr>
  <% end %>
</table>
<% if @number_of_pages > 1 %>
Page: <% (1..@number_of_pages).each do |pn| %>
<%= link_to_if @page_number != pn, pn, params.merge({:page_number => pn}) %>&nbsp;
<% end %>
<% end %>


