<p>
  <b>Name:</b>
  <%=h @story_state.name %>
</p>

<p>
  <b>Order:</b>
  <%=h @story_state.order %>
</p>

<p>
  <b>User visible:</b>
  <%=h @story_state.user_visible %>
</p>

<p>
  <b>Project owner:</b>
  <%=h @story_state.project_owner %>
</p>


<%= link_to 'Edit', edit_story_state_path(@story_state) %> |
<%= link_to 'Back', story_states_path %>